@font-face {
	font-family: 'LeagueGothic-Regular';
	src: url('/fonts/LeagueGothic-Regular.ttf') format('truetype');
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'LeagueGothic-Condensed';
	src: url('/fonts/LeagueGothic_Condensed-Regular.ttf') format('truetype');
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'LeagueGothic-SemiCondensed';
	src: url('/fonts/LeagueGothic_SemiCondensed-Regular.ttf') format('truetype');
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}
