@import 'tailwindcss';
@import '../styles/clash-display.css';
@import '../styles/league-gothic.css';

:root {
	/* Colors */
	--color-light: #eeeeee;
	--color-dark: #121418;
	--color-accent: #50c878;

	/* Base theme colors */
	--background: var(--color-light);
	--foreground: var(--color-dark);
}

@theme {
	/* Custom colors */
	--color-light: #eeeeee;
	--color-dark: #121418;
	--color-accent: #50c878;

	/* Base theme colors */
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

/* Fonts */
:root {
	--font-clash: 'ClashDisplay-Variable', sans-serif;
	--font-league: 'LeagueGothic-Regular', sans-serif;
	--font-league-condensed: 'LeagueGothic-Condensed', sans-serif;
	--font-league-semicondensed: 'LeagueGothic-SemiCondensed', sans-serif;
	--font-clash-extralight: 'ClashDisplay-Extralight', sans-serif;
	--font-clash-light: 'ClashDisplay-Light', sans-serif;
	--font-clash-regular: 'ClashDisplay-Regular', sans-serif;
	--font-clash-medium: 'ClashDisplay-Medium', sans-serif;
	--font-clash-semibold: 'ClashDisplay-Semibold', sans-serif;
	--font-clash-bold: 'ClashDisplay-Bold', sans-serif;
	--font-clash-variable: 'ClashDisplay-Variable', sans-serif;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: var(--color-dark);
		--foreground: var(--color-light);
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}
