@import '../styles/clash-display.css';
@import '../styles/league-gothic.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
	--font-clash: 'ClashDisplay-Variable', sans-serif;
	--font-league: 'LeagueGothic-Regular', sans-serif;
	--font-league-condensed: 'LeagueGothic-Condensed', sans-serif;
	--font-league-semicondensed: 'LeagueGothic-SemiCondensed', sans-serif;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}
